* {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  --foreground-clr: #4f5358;
  --background-clr: #fafafa;
  color: var(--foreground-clr);
  background-color: var(--background-clr);
  --primary-color: #007cc7;
  --primary-color2: #7dce94;
  zoom: 125%;
  overflow: auto;
}

html,
body {
  margin: 0px;
  height: 100%;
}

main {
  min-height: 100%;
}

h1,
h2,
h3 {
  line-height: 1.1em;
  color: var(--foreground-clr);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 2.6rem;
  }

  body {
    height: 100%;
  }

  .header {
    height: 4.25em;
  }

  .section {
    margin-top: 4em;
    overflow: scroll;
  }

  .menu-list {
    flex-direction: column;
    padding: 0.75em 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 5em;
    background-color: var(--background-clr);
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    z-index: 99;
  }

  .display-menu-list {
    width: 100%;
    z-index: 99;
  }

  .menu-list-item {
    margin: 0.5em 0;
    z-index: 99;
  }

  .menu-hamburger {
    display: flex;
    margin-left: 1em;
    margin-top: 0.5em;
    z-index: 99;
  }

  .info {
    align-items: flex-start;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .skills .skills-row {
    flex-wrap: wrap;
  }

  .places .places-row {
    flex-wrap: wrap;
  }

  .contact-me #my-form .form-group .form-control {
    max-width: 100%;
  }
}

.link {
  color: var(--primary-color);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--primary-color2);
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color2);
  transition: width 0.3s ease-in-out;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--menu {
  color: var(--foreground-clr);
  font-weight: 500;
}

.link--icon {
  color: var(--foreground-clr);
  font-size: 1.2em;
}

.left {
  display: flex;
  align-items: flex-start;
}

.header {
  max-width: 1100px;
  width: 95%;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  justify-content: space-between;
  z-index: 99;
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 5em;
}

.section-title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.menu-list {
  margin-right: 1.5em;
  display: flex;
  z-index: 99;
}

.menu-list-item {
  margin-left: 1.5em;
  z-index: 99;
}

.menu-hamburger {
  display: none;
  width: 1em;
  z-index: 99;
}

.info {
  flex-direction: column;
  margin-top: 20vh;
  height: 100%;
}

.info-name {
  color: var(--primary-color2);
}

.info-role {
  margin-top: 1.2em;
}

.info-desc {
  font-size: 1rem;
  max-width: 700px;
}

.info-desc,
.info-contact {
  margin-top: 2.4em;
}

.info .link--icon {
  margin-right: 0.8em;
}

.info .btn--outline {
  margin-right: 1em;
}

.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
  bottom: 0;
}

.fa:hover {
  opacity: 0.7;
}

.flex-wrapper {
  display: flex;
  min-height: calc(100% - 3.5em);
  flex-direction: column;
}

.classes-grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 1em;
}

.classes-title {
  text-align: center;
  margin-bottom: 1em;
}

.class {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform 0.2s linear;
  margin-bottom: 2em;
}

.class:hover {
  transform: translateY(-7px);
}

.class-description {
  margin-top: 1em;
}

.class-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.class-stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.class .link--icon {
  margin-left: 0.5em;
}

.skills {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  text-align: center;
}

.skills .skills-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.skills .skills-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills .skills-row .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem;
  border-radius: 6px;
  padding: 1rem;
}

.skills .skills-row .skill img {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

.skills .skills-row .skill span {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--foreground-clr);
}

.skills .all-skills {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills .all-skills p {
  font-size: 1.125rem;
  color: var(--foreground-clr);
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.6rem;
}

.skills .all-skills p span {
  font-weight: 600;
}

.contact-me {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-me .contact-me-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
}

.contact-me p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.contact-me #my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45rem;
  width: 100%;
}

.contact-me #my-form .form-group {
  width: 100%;
}

.contact-me #my-form .form-group label {
  font-weight: 400;
  display: block;
  width: 7rem;
  margin-bottom: 0.5rem;
}

.contact-me #my-form .form-group .form-control {
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #d9e3ee;
  padding: 0 1rem;
  font-weight: 500;
  line-height: 3rem;
}

.contact-me #my-form .form-group .form-control::placeholder {
  font-weight: 300;
  color: #7396ac;
}

.contact-me #my-form .form-group .form-control:focus {
  border: 1px solid #8baec5;
  outline: none;
}

.contact-me #my-form .form-group textarea.form-control {
  resize: vertical;
}

.contact-me #my-form button {
  display: block;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 4px;
  background: var(--primary-color2);
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  user-select: none;
  align-self: stretch;
}

.contact-me #my-form button:active {
  background-color: var(--primary-color);
}

.portfolios {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  display: flex;
  flex-direction: column;
  background-color: inherit;
  text-align: center;
}
.portfolios .portfolio-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-column: center-start / center-end;
  justify-items: center;
  gap: 3rem;
}
@media (max-width: 1023px) {
  .portfolios .portfolio-container {
    gap: 1rem;
  }
}
.portfolios .portfolio {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 5px 15px #0b2b4707;
  transition: box-shadow 1s ease;
}
.portfolios .portfolio:hover {
  background: linear-gradient(to top left, #f4fcff 0%, #fff 39.74%, #fff 100%);
}
@media (max-width: 767px) {
  .portfolios .portfolio {
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  .portfolios .portfolio:hover {
    box-shadow: 0 1rem 2rem 0 rgba(97, 127, 151, 0.43);
  }
}
.portfolios .portfolio img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  border: 1px solid #b0d2e7;
  background-color: #ebf1f8;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}
@media (max-width: 767px) {
  .portfolios .portfolio img {
    pointer-events: none;
  }
}
.portfolios .portfolio .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
}
.portfolios .portfolio .info .portfolio-links {
  display: flex;
}
.portfolios .portfolio .info .portfolio-links a {
  margin-right: 0.5rem;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 3px;
  background-color: #246b97;
  padding: 0.5rem 1.25rem;
}
.portfolios .portfolio .info .portfolio-links a.secondary {
  background-color: #d5dfe9;
  color: #135b71;
}
.portfolios .portfolio .info .portfolio-links a.secondary:hover {
  background-color: #c0cedb;
}
.portfolios .portfolio .info .portfolio-links a:hover {
  background-color: #4690be;
}
.portfolios .portfolio h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.375rem;
  letter-spacing: -0.03em;
  text-align: center;
  color: #246b97;
}
.portfolios .portfolio p {
  line-height: 1.5;
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.6rem;
  flex: 1;
}
.portfolios .portfolio a {
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  color: #2c7e9e;
}
.portfolios .portfolio .tags {
  margin-bottom: 1rem;
}
.portfolios .portfolio .tags span {
  display: inline-block;
  color: #525b75;
  background-color: #e6effa;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 5px;
  font-size: 0.875rem;
}
